<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chatbot.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
 {% include 'header.html' %}
  <div class="chat-container">
    <div class="chat-log" id="chat-log"></div>
    <div class="user-input">
      <input type="text" id="user-input" placeholder="Type your message...">
      <button id="send-button">Send</button>
    </div>
<button id="fetch-recommendations-button">Recommendations</button>

  </div>
  
  <script src="{{ url_for('static', filename='js/chatbot.js') }}"></script>
</body>
</html>
